node_modules
.env
coverage
coverage.json
typechain-types
types
cache
artifacts
deployments
context
/energy-attestation-sdk-js
# CI test report
junit.xml
.DS_Store

# Subgraph generated artifacts
subgraph/build/
subgraph/generated/
subgraph/node_modules/
